@import url("../../../../assets/css/vendor/materialize.min.css")
@import url("../../../../assets/css/vendor/all.css")
@import url("../fonts/pt_sans.css")
@import colors
@import input

html, body
  height: 100%
  margin: 0
  font-family: "PT Sans"

.btn-grey
  width: 200px
  background: $light-grey
  color: $dark-navy-blue
  font-weight: 500
  border-radius: 1.2em

  &:hover,
  &:focus
    background: $dark-navy-blue
    color: white
    transition: all ease 200ms
    box-shadow: none

body
  .wrapper
    background-image: linear-gradient(120deg, rgba(2, 33, 64, .6), rgba(2, 33, 64, .8), rgba(45, 95, 92, .9), rgba(45, 95, 92, 1)), url("../images/portfolio_main.jpg")
    height: 100%

    //center image
    background-repeat: no-repeat
    background-size: cover

    nav
      background: transparent
      box-shadow: none
      padding: 0 1em

      #nav-mobile
        li
          i
            padding: 0 .5em

          a:hover,
          a:focus
            background: $dull-blue
            font-weight: 600

    .main-body, .footer
      p
        color: white
        margin: 0

    .main-body
      margin-top: 3em

      .main-title
        font-size: 3em

      .user-career
        font-size: 2.5em
        font-weight: 600

      .user-motto
        font-size: 1.5em
        margin-top: 1em

      .contact-form
        padding: 0 !important
        margin-top: 2em

        .form-title
          font-size: 1.2em
          margin-bottom: 1em

        .col
          padding-left: 0

    .footer
      margin-top: 3em
      padding: 0 2em

      i
        color: $dark-navy-blue

      p
        font-size: 1.2em

@media only screen and (max-width: 480px)
  .wrapper
    nav
      padding: 0 !important

      .brand-logo
        font-size: 1.5em

    .sidenav
      background: $dull-green

      .divider
        background: $light-grey

      p
        color: white
        padding-left: .5em
        margin: .5em 0 0 0

      li
        a
          color: white

      .social-profiles
        margin-top: 2em

        i
          padding: 0 0 0 1em
          color: white
          font-size: 1.2em

    .main-body
      padding: 0 1em !important
      margin-top: 1em !important

      .main-title
        font-size: 2.5em !important

      .user-career
        font-size: 2em !important
        font-weight: 500 !important

      .user-motto
        font-size: 1.2em !important
        margin-top: .5em !important

      .contact-form
        margin-top: 1em !important

        .form-title
          font-size: 1em !important
          margin-bottom: 0 !important

        button
          width: 150px !important
          font-weight: 400 !important

    .footer
      margin-top: 1em !important

      i
        font-size: 1.5em !important

      p
        font-size: 1em !important

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1920px)
  .wrapper
    nav
      padding: 0 2em !important
      .nav-wrapper
        .brand-logo
          font-size: 2.5em

        #nav-mobile
          li
            a
              font-size: 1.5em

  .main-body
    margin-top: 8em !important

    .main-title
      font-size: 6em !important

    .user-career
      font-size: 5em !important

    .user-motto
      font-size: 3em !important
      margin-top: 1.5em !important

    .contact-form
      margin-top: 3em !important

      .form-title
        font-size: 2em !important
        margin-bottom: 1.5em !important

      input, label
        font-size: 1.5em
      button
        height: 60px
        width: 300px !important
        font-size: 1.5em !important
  .footer
    margin-top: 5em !important
    padding: 0 3em !important

    p
      font-size: 2em !important